<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Base Html</title>
    </head>

    <body>
        {% if data_from_py %}
        <h1>Hello Habib!!</h1>
        <p>This is from html template</p>
        <p>{{num}}</p>
        {% endif %}
        <div>
            {% for some_item in some_list %} {% if some_item|divisibleby:"2" %}
            <p>Even number {{ some_item }}</p>
            {% endif %} {% endfor %}
        </div>
    </body>

</html>